# Copyright (c) 2010-2011 Freescale Semiconductor, Inc.
# All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#	notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#	notice, this list of conditions and the following disclaimer in the
#	documentation and/or other materials provided with the distribution.
#     * Neither the name of Freescale Semiconductor nor the
#	names of its contributors may be used to endorse or promote products
#	derived from this software without specific prior written permission.
#
#
# ALTERNATIVELY, this software may be distributed under the terms of the
# GNU General Public License ("GPL") as published by the Free Software
# Foundation, either version 2 of that License or (at your option) any
# later version.
#
# THIS SOFTWARE IS PROVIDED BY Freescale Semiconductor ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL Freescale Semiconductor BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
# ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# -------------------------------------------------------------------------
# Copy this makefile to your directory under "apps" or "drivers" as
# "Makfile.am". Make sure to add the directory to the SUBDIRS entry of the
# Makefile.am file in the parent directory so that the build system will include
# it. For a detailed description of the Makefile primatives, please see the
# README.BuildSystem.
# -------------------------------------------------------------------------


# -------------------------------------------------------------------------
# Declare sub-directories with "Makefile.am" files to be processed:
# -------------------------------------------------------------------------
SUBDIRS = a_child_directory and-another-one


# -------------------------------------------------------------------------
# Build an Executable:
# This example was taken from apps/qbman_speed.
# This makefile says that:
#   1. It will generate an executable "qbman_speed uses" (bin_PROGRAMS).
#   2. It will add an include dir to the build include path (AM_CFLAGS).
#   3. It will compile 3 source files (qbman_speed_SOURCES).
#   4. It will link 4 of our libs (qbman_speed_LDADD).
#   5. It will link 1 external lib (qbman_speed_sys_LDADD).
# After compilation, the executable will be in the TOP_LEVEL/bin_powerpc/
# directory.
# -------------------------------------------------------------------------
bin_PROGRAMS = qbman_speed

AM_CFLAGS := -I$(TOP_LEVEL)/apps/include

qbman_speed_SOURCES := main.c speed.c blastman.c
qbman_speed_LDADD := usdpaa_qbman usdpaa_dma_mem
qbman_speed_sys_LDADD := pthread


# -------------------------------------------------------------------------
# Build a library.
# This example was taken from drivers/qbman.
# This makefile says that:
#   1. It will generate an archive with the basename "usdpaa_qbman"
#   (lib_LIBRARIES).
#   2. It will compile 2 source files (usdpaa_qbman_SOURCES).
# After compilation, the executable will be in TOP_LEVEL/lib_powerpc.
# -------------------------------------------------------------------------
lib_LIBRARIES = usdpaa_qbman

usdpaa_qbman_SOURCES := bman_high.c bman_driver.c \
		qman_high.c qman_fqalloc.c qman_utility.c qman_driver.c
